/* footer styles */
@import url(./variables.css);

.footer {
    background: var(--primary-color);
    color: var(--text-color);
    .footer__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__language {
    }
    .footer__links {
    }
    .footer__rights {
    }
}
.nav {
    
}
.nav-pills {
    /* align-items: center; */
}
.nav-item {
}
.nav-link {
}
.active {
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--secondary-color) !important;
}