/* header styles */
@import url(./variables.css);
.header {
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    box-shadow: 0 0.125rem 0.625rem var(--shadow-color);
    .header__container {
        padding: 0 1rem;
    }
    .form-control{
        background: inherit;
        color: var(--text-color);
    }
}
.navbar-brand {
    text-shadow: 0.1rem 0.1rem 0.1rem var(--neon-color);
    .logo{
    max-width: 2.5rem;
}
}
.btn-outline {
  border: 0.1rem solid var(--text-color) !important;
  transition: all 0.3s ease-in-out;
}
.btn-outline:hover {
  background: var(--secondary-color) !important;
  /* box-shadow: 0 0 10px var(--neon-color); */
}
.btn, .navbar-brand, input::placeholder, .navbar-toggler-icon, span {
    color: var(--text-color) !important;
}

/* ---- nav bar ---- */

.offcanvas {
    background: var(--primary-color) !important;
    color: var(--text-color) !important;
    border-right: 0.01rem solid var(--neon-color) !important;
}
.offcanvas-start {
}
.offcanvas-header {
}
.offcanvas-title {
}
.btn-close {
}
.offcanvas-body {
}
.navbar-nav {
}
.nav-link {
    color: var(--text-color) !important;
}
