/* ----- reset file ----- */
@import url(./reset.css);

/* ----- fonts styles ----- */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* ----- variables and mixins styles ----- */
@import url(./variables.css);

/* ----- header styles ----- */
@import url(./header.css);

/* ----- footer styles ----- */
@import url(./footer.css);

/* ----- main styles ----- */

body {
    font-family: "Nunito", "Roboto";
    font-size: 1rem;
    /* background: var(--bs-primary);*/
    /* position: relative; */
}
[class*="__container"] {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--primary-color);
    color: var(--text-color);

    .main {
        flex-grow: 1;
        padding: 4rem 1rem;
    }
    .footer {
        flex: 0 1 auto;
    }
}

/* ---- word game ---- */

.word-game, .color-sort {
    text-align: center;
    h1 {
        margin: 2rem 0;
    }
    .word-game__box {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
.box {
    .box__word {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    .box__hint,
    .box__btn {
        padding: 1rem;
        border: 0.1rem solid var(--secondary-color);
    }
    .box__letter {
        text-align: center;
        width: 3.1rem;
        padding: 1rem;
        background: var(--secondary-color);
        border: 0.1rem solid var(--neon-color);
    }
}

/* ---- sort colors ---- */

.color-sort {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .color-sort__box {
        position: relative;
        /* z-index: 4; */
        width: 100%;
        height: 20rem;
        border: 1px solid white;
        .draggable{
            position: absolute;
        }
    }
}
.box {
    .box__red,
    .box__blue,
    .box__yellow {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .box__red {
        background: red;
    }
    .box__blue {
        background: blue;
    }
    .box__yellow {
        background: yellow;
    }
}
.droppable__box {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.blue-basket {
    width: 8rem;
    height: 10rem;
    background: rgb(134, 134, 217);
    border-top: 0.5rem solid blue;
    border-radius: 0 0 3rem 3rem;
}
.yellow-basket {
    width: 8rem;
    height: 10rem;
    background: rgb(234, 234, 149);
    border-top: 0.5rem solid yellow;
    border-radius: 0 0 3rem 3rem;
}
.red-basket {
    width: 8rem;
    height: 10rem;
    background: rgb(235, 160, 160);
    border-top: 0.5rem solid red;
    border-radius: 0 0 3rem 3rem;
}
